<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.cppalliance.promptforge-ws</string>
	<key>CFBundleName</key>
	<string>PromptForge Workshop</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>PromptForge Workshop transcribes push-to-talk audio on-device.</string>
</dict>
</plist>
